/*--CSS Classes For the Modal Popup -- */

.modalBackground {

                background-color:#111111;

                filter:alpha(opacity=8);

                opacity:0.8;

}

 .modalAcceptDialog

{

                font-size: medium;

                background-color:#D5DBE1;

                border-width:3px;

                border-style:solid;

                border-color:#666666;

                padding:20px;

                width:75%;

}